* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #dfdbdb;
  z-index: 0;
}

.logo {
  width: 75px;
  height: 35px;
}

.listItems > ul {
  display: flex;
}

.listItems > ul > li {
  list-style: none;
  padding: 0px 5px;
}

.listItems > ul > li > img {
  height: 40px;
  width: 40px;
}
