@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.card {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px 3px #f0eded;
  border-radius: 10px 10px 10px 10px;
}

.carimage {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.cardetails {
  padding: 0 20px;
  border-radius: 0 0 10px 10px;
}

.specification {
  border-bottom: 1px solid #dfdbdb;
}

.likebtn {
  margin: 12px 0;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likebtn h4 {
  font-family: "Roboto", sans-serif;
  color: #465166;
}

.specification > p {
  margin: 12px 0;
  font-size: 14px;
}

.specification > p > strong {
  font-weight: 650;
  border-right: 3px solid #d0cdcd;
  padding-right: 3px;
  font-family: "Roboto", sans-serif;
  color: #465166;
}

.specification > p > span {
  padding-left: 5px;
  color: #465166;
}

.speedmeter {
  display: flex;
  align-items: center;
  font-weight: 300;
  margin: 15px 0;
}

.speedmeter span {
  margin-left: 5px;
  color: #465166;
}

.turbo {
  padding-left: 50px;
}

.emi {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  align-items: center;
}

.emimonthly h4 {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #ef7e2b;

  padding-bottom: 6px;
}

.emi p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
  color: #b2b2b2;
}

.price h4 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-bottom: 6px;
  color: #465166;
}
