.container {
  width: 100%;
  margin-top: 68px;
  padding: 0 15px;
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.headers > h3 {
  font-size: medium;
  font-weight: 500;
}

.headers > h3 > span {
  color: #ef7e2b;
}

.options {
  display: flex;
  padding: 10px 0;
  overflow: scroll;
}

.optionBtn {
  border: 1px solid #dde5eb;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  padding: 6px 12px;
  background: #fff;
  margin-right: 5px;
  white-space: nowrap;
}

.optionBtn p {
  display: flex;
  align-items: center;
}

.optionBtn img {
  transform: rotate(90deg);
  margin-left: 10px;
}

.modal {
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
