.container {
  width: 100%;
  margin-top: 68px;
  padding: 0 15px;
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.headers > h3 {
  font-size: medium;
  font-weight: 500;
}

.headers > h3 > span {
  color: #ef7e2b;
}

.options {
  display: flex;
  padding: 10px 0;
  overflow: scroll;
}

.optionBtn {
  border: 1px solid #dde5eb;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  padding: 6px 12px;
  background: #fff;
  margin-right: 5px;
  white-space: nowrap;
}

.optionBtn p {
  display: flex;
  align-items: center;
}

.optionBtn img {
  transform: rotate(90deg);
  margin-left: 10px;
}

.modal {
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.selected_options {
  display: flex;
  width: 100%;
  padding: 8px 0;
  white-space: nowrap;
  overflow: scroll;
  align-items: center;
}

.clear_All_otn {
  color: #ff891d;
  font-size: 15px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.selected_filter_items {
  display: flex;
  margin-left: 5px;
  align-items: center;
}

.filter_item {
  padding: 3px 6px;
  margin-left: 10px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #465166;
  background-color: rgba(248, 147, 31, 0.2);
  border-radius: 3px;
}

.filter_item span {
  color: #465166;
  margin-left: 8px;
  line-height: 20px;
}
