.container {
  width: 100%;
  margin-top: 68px;
  padding: 0 15px;
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.headers > h3 {
  font-size: medium;
  font-weight: 500;
}

.headers > h3 > span {
  color: #ef7e2b;
}
